<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do</title>
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <!-- deprecated, I know - but not getting into Babel / Browserify right now -->
</head>
<body>
    <div class="container">
        <div id="container" class="col-md-8 col-md-offset-2">  
            {{ items }}
        </div>
    </div>  

    <form action="/" method="POST">
        <input type="text" name="description">
        <input type="hidden" name="order" value="1">
        <input type="submit" value="ADD">
    </form>
</body>
</html>